In [46]:
import pymongo
from pymongo import MongoClient

#1.链接本地数据库服务
name = MongoClient('localhost')
#2.链接本地数据库
db = name.python_test   
#3.创建，连接集合
rec = db.record

In [47]:
import pandas as pd 
data = pd.DataFrame(list(rec.find()))
# data

In [48]:
score = data[["total"]]
bins = [0, 50, 100, 150, 200, 250, 300, 350, 400, 450,500,550,600,650,700]
score2 = pd.cut(score.values.flatten(), bins=bins)
score2

[(300, 350], (400, 450], (200, 250], (150, 200], (350, 400], ..., (400, 450], (250, 300], (300, 350], (350, 400], (350, 400]]
Length: 500000
Categories (14, interval[int64, right]): [(0, 50] < (50, 100] < (100, 150] < (150, 200] ... (500, 550] < (550, 600] < (600, 650] < (650, 700]]

In [49]:
score2 = pd.DataFrame(score2, columns=["status"]) 
score2

            status
0       (300, 350]
1       (400, 450]
2       (200, 250]
3       (150, 200]
4       (350, 400]
...            ...
499995  (400, 450]
499996  (250, 300]
499997  (300, 350]
499998  (350, 400]
499999  (350, 400]

[500000 rows x 1 columns]

In [50]:
data["status"] = score2
data

,_id,name,sexual,chinese,math,english,science,total,status
0,62fc5b640694b90dadc85652,stu_40_0,female,2,117,4,209,332,"(300, 350]"
1,62fc5b640694b90dadc85653,stu_40_1,female,84,115,31,219,449,"(400, 450]"
2,62fc5b640694b90dadc85654,stu_40_2,male,113,61,7,59,240,"(200, 250]"
3,62fc5b640694b90dadc85655,stu_40_3,female,30,39,37,59,165,"(150, 200]"
4,62fc5b640694b90dadc85656,stu_40_4,female,84,109,88,102,383,"(350, 400]"
...,...,...,...,...,...,...,...,...,...
499995,62fc5b6e0694b90dadcff76d,stu_48_9995,male,92,65,75,202,434,"(400, 450]"
499996,62fc5b6e0694b90dadcff76e,stu_48_9996,female,99,103,22,32,256,"(250, 300]"
499997,62fc5b6e0694b90dadcff76f,stu_48_9997,male,35,32,73,171,311,"(300, 350]"
499998,62fc5b6e0694b90dadcff770,stu_48_9998,male,44,73,13,258,388,"(350, 400]"
499999,62fc5b6e0694b90dadcff771,stu_48_9999,female,46,138,71,140,395,"(350, 400]"

In [51]:
# # 每个区间学生的总人数
data_status_count = data.pivot_table(
    index="status",
    values="total",
    aggfunc={"total":"count"}
)
data_status_count.rename(columns={"total": "总人数"},inplace=True)
data_status_count

              总人数
status
(0, 50]       177
(50, 100]    2767
(100, 150]  11915
(150, 200]  29912
(200, 250]  52422
(250, 300]  70441
(300, 350]  80078
(350, 400]  80397
(400, 450]  71286
(450, 500]  53560
(500, 550]  30765
(550, 600]  13015
(600, 650]   3033
(650, 700]    232

In [52]:
# # 每个区间学生总分的均值
data_status_mean = data.pivot_table(
    index="status",
    values="total",
    aggfunc={"total":"std"}
)
data_status_mean.rename(columns={"total": "均值"},inplace=True)
data_status_mean

                   均值
status
(0, 50]      7.431341
(50, 100]   12.739015
(100, 150]  13.764907
(150, 200]  14.126702
(200, 250]  14.296155
(250, 300]  14.401179
(300, 350]  14.403379
(350, 400]  14.403665
(400, 450]  14.328216
(450, 500]  14.330761
(500, 550]  14.170513
(550, 600]  13.789088
(600, 650]  12.832224
(650, 700]   9.039513

In [53]:
# # 每个区间学生总分的标准差
data_status_std = data.pivot_table(
    index="status",
    values="total",
    aggfunc={"total":"std"}
)
data_status_std.rename(columns={"total": "标准差"},inplace=True)
data_status_std

                  标准差
status
(0, 50]      7.431341
(50, 100]   12.739015
(100, 150]  13.764907
(150, 200]  14.126702
(200, 250]  14.296155
(250, 300]  14.401179
(300, 350]  14.403379
(350, 400]  14.403665
(400, 450]  14.328216
(450, 500]  14.330761
(500, 550]  14.170513
(550, 600]  13.789088
(600, 650]  12.832224
(650, 700]   9.039513

In [54]:
# # 每个区间学生总分的方差
data_status_var = data.pivot_table(
    index="status",
    values="total",
    aggfunc={"total":"var"}
)
data_status_var.rename(columns={"total": "方差"},inplace=True)
data_status_var

                    方差
status
(0, 50]      55.224833
(50, 100]   162.282504
(100, 150]  189.472656
(150, 200]  199.563722
(200, 250]  204.380043
(250, 300]  207.393961
(300, 350]  207.457332
(350, 400]  207.465571
(400, 450]  205.297780
(450, 500]  205.370722
(500, 550]  200.803435
(550, 600]  190.138957
(600, 650]  164.665973
(650, 700]   81.712793

In [55]:
index_status = pd.DataFrame(['(0, 50]', '(50, 100]',"(100, 150]","(150, 200]","(200, 250]","(250, 300]","(300, 350]","(350, 400]","(400, 450]","(450, 500]","(500, 550]","(550, 600]","(600, 650]","(650, 700]"])
index_status

             0
0      (0, 50]
1    (50, 100]
2   (100, 150]
3   (150, 200]
4   (200, 250]
5   (250, 300]
6   (300, 350]
7   (350, 400]
8   (400, 450]
9   (450, 500]
10  (500, 550]
11  (550, 600]
12  (600, 650]
13  (650, 700]

In [56]:
output = pd.concat([data_status_count,data_status_mean,data_status_var],axis=1)
output

              总人数         均值          方差
status
(0, 50]       177   7.431341   55.224833
(50, 100]    2767  12.739015  162.282504
(100, 150]  11915  13.764907  189.472656
(150, 200]  29912  14.126702  199.563722
(200, 250]  52422  14.296155  204.380043
(250, 300]  70441  14.401179  207.393961
(300, 350]  80078  14.403379  207.457332
(350, 400]  80397  14.403665  207.465571
(400, 450]  71286  14.328216  205.297780
(450, 500]  53560  14.330761  205.370722
(500, 550]  30765  14.170513  200.803435
(550, 600]  13015  13.789088  190.138957
(600, 650]   3033  12.832224  164.665973
(650, 700]    232   9.039513   81.712793

In [57]:
# output.to_csv("人数-均值-方差.csv")

In [58]:
output_df = output.to_dict("records")
output_df

[{'总人数': 177, '均值': 7.43134127035813, '方差': 55.22483307652799},
 {'总人数': 2767, '均值': 12.739015039855097, '方差': 162.28250418565435},
 {'总人数': 11915, '均值': 13.764906689697797, '方差': 189.47265617608716},
 {'总人数': 29912, '均值': 14.126702440212345, '方差': 199.5637218343014},
 {'总人数': 52422, '均值': 14.296154828059466, '方差': 204.38004286784798},
 {'总人数': 70441, '均值': 14.401179170190813, '方差': 207.39396149193777},
 {'总人数': 80078, '均值': 14.403379194002845, '方差': 207.45733220623404},
 {'总人数': 80397, '均值': 14.40366518687676, '方差': 207.4655708156455},
 {'总人数': 71286, '均值': 14.328216219455934, '方差': 205.29778003148007},
 {'总人数': 53560, '均值': 14.330761391610729, '方差': 205.37072206328065},
 {'总人数': 30765, '均值': 14.170512871343343, '方差': 200.80343503690736},
 {'总人数': 13015, '均值': 13.789088341063936, '方差': 190.13895727766538},
 {'总人数': 3033, '均值': 12.83222402103221, '方差': 164.6659733259561},
 {'总人数': 232, '均值': 9.039512871508743, '方差': 81.71279295417224}]

In [59]:
# insert_status = db.status
# insert_status.insert_many(output_df)

# 第三题

In [162]:
import pandas as pd 
data = pd.DataFrame(list(rec.find()))

In [163]:
import numpy as np 
data_5 = data.loc[data["total"]>500 ].drop_duplicates()
# data_5 = data[data.iloc[:,-1]>=500]
data_5

,_id,name,sexual,chinese,math,english,science,total
10,62fc5b640694b90dadc8565c,stu_40_10,female,28,113,97,274,512
16,62fc5b640694b90dadc85662,stu_40_16,female,90,129,57,297,573
17,62fc5b640694b90dadc85663,stu_40_17,male,137,52,95,260,544
26,62fc5b640694b90dadc8566c,stu_40_26,female,113,98,78,263,552
27,62fc5b640694b90dadc8566d,stu_40_27,female,125,132,50,254,561
...,...,...,...,...,...,...,...,...
499908,62fc5b6e0694b90dadcff716,stu_48_9908,female,109,149,45,222,525
499910,62fc5b6e0694b90dadcff718,stu_48_9910,male,137,95,18,254,504
499933,62fc5b6e0694b90dadcff72f,stu_48_9933,male,150,51,34,269,504
499955,62fc5b6e0694b90dadcff745,stu_48_9955,female,131,148,76,277,632
499968,62fc5b6e0694b90dadcff752,stu_48_9968,female,70,125,62,285,542

In [164]:
data_6 = data.loc[data["total"]<=600 ].drop_duplicates()
# data_6 = data[data.iloc[:,-1]<600]
data_6

,_id,name,sexual,chinese,math,english,science,total
0,62fc5b640694b90dadc85652,stu_40_0,female,2,117,4,209,332
1,62fc5b640694b90dadc85653,stu_40_1,female,84,115,31,219,449
2,62fc5b640694b90dadc85654,stu_40_2,male,113,61,7,59,240
3,62fc5b640694b90dadc85655,stu_40_3,female,30,39,37,59,165
4,62fc5b640694b90dadc85656,stu_40_4,female,84,109,88,102,383
...,...,...,...,...,...,...,...,...
499995,62fc5b6e0694b90dadcff76d,stu_48_9995,male,92,65,75,202,434
499996,62fc5b6e0694b90dadcff76e,stu_48_9996,female,99,103,22,32,256
499997,62fc5b6e0694b90dadcff76f,stu_48_9997,male,35,32,73,171,311
499998,62fc5b6e0694b90dadcff770,stu_48_9998,male,44,73,13,258,388
499999,62fc5b6e0694b90dadcff771,stu_48_9999,female,46,138,71,140,395

In [165]:
data_56 = pd.concat([data_5,data_6],join="inner",ignore_index=True).drop_duplicates()
data_56

,_id,name,sexual,chinese,math,english,science,total
0,62fc5b640694b90dadc8565c,stu_40_10,female,28,113,97,274,512
1,62fc5b640694b90dadc85662,stu_40_16,female,90,129,57,297,573
2,62fc5b640694b90dadc85663,stu_40_17,male,137,52,95,260,544
3,62fc5b640694b90dadc8566c,stu_40_26,female,113,98,78,263,552
4,62fc5b640694b90dadc8566d,stu_40_27,female,125,132,50,254,561
...,...,...,...,...,...,...,...,...
543775,62fc5b6e0694b90dadcff76d,stu_48_9995,male,92,65,75,202,434
543776,62fc5b6e0694b90dadcff76e,stu_48_9996,female,99,103,22,32,256
543777,62fc5b6e0694b90dadcff76f,stu_48_9997,male,35,32,73,171,311
543778,62fc5b6e0694b90dadcff770,stu_48_9998,male,44,73,13,258,388
543779,62fc5b6e0694b90dadcff771,stu_48_9999,female,46,138,71,140,395

In [166]:
# 语文成绩大于100
data_56_cn = data_56[data_56["chinese"]>100].drop_duplicates()
data_56_cn

,_id,name,sexual,chinese,math,english,science,total
2,62fc5b640694b90dadc85663,stu_40_17,male,137,52,95,260,544
3,62fc5b640694b90dadc8566c,stu_40_26,female,113,98,78,263,552
4,62fc5b640694b90dadc8566d,stu_40_27,female,125,132,50,254,561
5,62fc5b640694b90dadc85671,stu_40_31,male,150,138,97,215,600
6,62fc5b640694b90dadc8567e,stu_40_44,female,144,116,72,214,546
...,...,...,...,...,...,...,...,...
543764,62fc5b6e0694b90dadcff762,stu_48_9984,male,136,70,16,90,312
543767,62fc5b6e0694b90dadcff765,stu_48_9987,male,129,49,15,53,246
543771,62fc5b6e0694b90dadcff769,stu_48_9991,female,128,18,43,109,298
543773,62fc5b6e0694b90dadcff76b,stu_48_9993,male,117,33,34,281,465
543774,62fc5b6e0694b90dadcff76c,stu_48_9994,female,129,33,28,158,348

In [167]:
data_rank = data_56_cn.sort_values("math",ascending=False)
data_rank.drop_duplicates()

,_id,name,sexual,chinese,math,english,science,total
35909,62fc5b6c0694b90dadce247f,stu_10_461,male,120,150,88,176,534
408954,62fc5b6b0694b90dadcde578,stu_14_4326,female,134,150,63,35,382
274555,62fc5b690694b90dadcbd4fb,stu_24_9033,female,145,150,89,29,413
418062,62fc5b6c0694b90dadce0941,stu_28_3487,male,115,150,7,135,407
87176,62fc5b650694b90dadc8f427,stu_46_405,male,121,150,96,110,477
...,...,...,...,...,...,...,...,...
429845,62fc5b6c0694b90dadce3794,stu_10_5346,female,108,1,1,80,190
295291,62fc5b690694b90dadcc2679,stu_26_9895,male,116,1,46,189,352
505870,62fc5b6e0694b90dadcf6280,stu_5_1870,female,147,1,25,56,229
469329,62fc5b6d0694b90dadced2c2,stu_39_5072,female,105,1,71,160,337
116986,62fc5b660694b90dadc96951,stu_44_399,female,124,1,50,145,320

In [171]:
data_rank.duplicated()

35909     False
408954    False
274555    False
418062    False
87176     False
          ...
429845    False
295291    False
505870    False
469329    False
116986    False
Length: 166330, dtype: bool

In [168]:
data_rank_df = data_rank.to_dict("records")
data_rank_df

[{'_id': ObjectId('62fc5b6c0694b90dadce247f'),
  'name': 'stu_10_461',
  'sexual': 'male',
  'chinese': 120,
  'math': 150,
  'english': 88,
  'science': 176,
  'total': 534},
 {'_id': ObjectId('62fc5b6b0694b90dadcde578'),
  'name': 'stu_14_4326',
  'sexual': 'female',
  'chinese': 134,
  'math': 150,
  'english': 63,
  'science': 35,
  'total': 382},
 {'_id': ObjectId('62fc5b690694b90dadcbd4fb'),
  'name': 'stu_24_9033',
  'sexual': 'female',
  'chinese': 145,
  'math': 150,
  'english': 89,
  'science': 29,
  'total': 413},
 {'_id': ObjectId('62fc5b6c0694b90dadce0941'),
  'name': 'stu_28_3487',
  'sexual': 'male',
  'chinese': 115,
  'math': 150,
  'english': 7,
  'science': 135,
  'total': 407},
 {'_id': ObjectId('62fc5b650694b90dadc8f427'),
  'name': 'stu_46_405',
  'sexual': 'male',
  'chinese': 121,
  'math': 150,
  'english': 96,
  'science': 110,
  'total': 477},
 {'_id': ObjectId('62fc5b670694b90dadca39bf'),
  'name': 'stu_36_3757',
  'sexual': 'female',
  'chinese': 132,
  'math': 150,
  'english': 12,
  'science': 181,
  'total': 475},
 {'_id': ObjectId('62fc5b670694b90dadcabf6e'),
  'name': 'stu_20_7980',
  'sexual': 'female',
  'chinese': 133,
  'math': 150,
  'english': 12,
  'science': 138,
  'total': 433},
 {'_id': ObjectId('62fc5b6b0694b90dadcddbb6'),
  'name': 'stu_14_1828',
  'sexual': 'female',
  'chinese': 119,
  'math': 150,
  'english': 100,
  'science': 196,
  'total': 565},
 {'_id': ObjectId('62fc5b650694b90dadc8a875'),
  'name': 'stu_43_1027',
  'sexual': 'male',
  'chinese': 123,
  'math': 150,
  'english': 99,
  'science': 161,
  'total': 533},
 {'_id': ObjectId('62fc5b6a0694b90dadcccd94'),
  'name': 'stu_1_2674',
  'sexual': 'male',
  'chinese': 150,
  'math': 150,
  'english': 30,
  'science': 3,
  'total': 333},
 {'_id': ObjectId('62fc5b650694b90dadc95578'),
  'name': 'stu_45_5318',
  'sexual': 'female',
  'chinese': 114,
  'math': 150,
  'english': 30,
  'science': 196,
  'total': 490},
 {'_id': ObjectId('62fc5b6a0694b90dadcc95bc'),
  'name': 'stu_27_8378',
  'sexual': 'male',
  'chinese': 146,
  'math': 150,
  'english': 51,
  'science': 58,
  'total': 405},
 {'_id': ObjectId('62fc5b670694b90dadca8a7f'),
  'name': 'stu_34_4429',
  'sexual': 'female',
  'chinese': 117,
  'math': 150,
  'english': 93,
  'science': 166,
  'total': 526},
 {'_id': ObjectId('62fc5b6b0694b90dadcd3e5e'),
  'name': 'stu_29_1548',
  'sexual': 'female',
  'chinese': 150,
  'math': 150,
  'english': 54,
  'science': 113,
  'total': 467},
 {'_id': ObjectId('62fc5b6d0694b90dadcf0b29'),
  'name': 'stu_11_9511',
  'sexual': 'female',
  'chinese': 132,
  'math': 150,
  'english': 18,
  'science': 161,
  'total': 461},
 {'_id': ObjectId('62fc5b6b0694b90dadcdadfb'),
  'name': 'stu_3_121',
  'sexual': 'male',
  'chinese': 103,
  'math': 150,
  'english': 19,
  'science': 240,
  'total': 512},
 {'_id': ObjectId('62fc5b690694b90dadcc18cf'),
  'name': 'stu_26_6397',
  'sexual': 'male',
  'chinese': 124,
  'math': 150,
  'english': 44,
  'science': 33,
  'total': 351},
 {'_id': ObjectId('62fc5b6d0694b90dadcf46c3'),
  'name': 'stu_4_4769',
  'sexual': 'male',
  'chinese': 133,
  'math': 150,
  'english': 4,
  'science': 251,
  'total': 538},
 {'_id': ObjectId('62fc5b670694b90dadca9a5c'),
  'name': 'stu_34_8490',
  'sexual': 'female',
  'chinese': 109,
  'math': 150,
  'english': 42,
  'science': 8,
  'total': 309},
 {'_id': ObjectId('62fc5b650694b90dadc8a6aa'),
  'name': 'stu_43_568',
  'sexual': 'female',
  'chinese': 102,
  'math': 150,
  'english': 82,
  'science': 272,
  'total': 606},
 {'_id': ObjectId('62fc5b690694b90dadcc0535'),
  'name': 'stu_26_1379',
  'sexual': 'female',
  'chinese': 118,
  'math': 150,
  'english': 35,
  'science': 223,
  'total': 526},
 {'_id': ObjectId('62fc5b6c0694b90dadcdf5b7'),
  'name': 'stu_14_8485',
  'sexual': 'female',
  'chinese': 110,
  'math': 150,
  'english': 100,
  'science': 130,
  'total': 490},
 {'_id': ObjectId('62fc5b680694b90dadcb6c34'),
  'name': 'stu_19_2210',
  'sexual': 'male',
  'chinese': 106,
  'math': 150,
  'english': 36,
  'science': 156,
  'total': 448},
 {'_id': ObjectId('62fc5b670694b90dadca86ab'),
  'name': 'stu_34_3449',
  'sexual': 'female',
  'chinese': 149,
  'math': 150,
  'english': 92,
  'science': 170,
  'total': 561},
 {'_id': ObjectId('62fc5b6b0694b90dadcd651e'),
  'name': 'stu_15_1468',
  'sexual': 'male',
  'chinese': 129,
  'math': 150,
  'english': 24,
  'science': 108,
  'total': 411},
 {'_id': ObjectId('62fc5b6a0694b90dadcc82b8'),
  'name': 'stu_27_3510',
  'sexual': 'male',
  'chinese': 117,
  'math': 150,
  'english': 58,
  'science': 76,
  'total': 401},
 {'_id': ObjectId('62fc5b6e0694b90dadcfa141'),
  'name': 'stu_12_7935',
  'sexual': 'male',
  'chinese': 125,
  'math': 150,
  'english': 85,
  'science': 276,
  'total': 636},
 {'_id': ObjectId('62fc5b6c0694b90dadce72a6'),
  'name': 'stu_7_468',
  'sexual': 'male',
  'chinese': 119,
  'math': 150,
  'english': 93,
  'science': 216,
  'total': 578},
 {'_id': ObjectId('62fc5b660694b90dadc9eb4d'),
  'name': 'stu_8_3675',
  'sexual': 'male',
  'chinese': 130,
  'math': 150,
  'english': 48,
  'science': 11,
  'total': 339},
 {'_id': ObjectId('62fc5b6a0694b90dadcce21e'),
  'name': 'stu_1_7932',
  'sexual': 'female',
  'chinese': 136,
  'math': 150,
  'english': 97,
  'science': 288,
  'total': 671},
 {'_id': ObjectId('62fc5b6e0694b90dadcf837d'),
  'name': 'stu_12_315',
  'sexual': 'male',
  'chinese': 109,
  'math': 150,
  'english': 5,
  'science': 188,
  'total': 452},
 {'_id': ObjectId('62fc5b690694b90dadcbfaaa'),
  'name': 'stu_30_8680',
  'sexual': 'male',
  'chinese': 121,
  'math': 150,
  'english': 52,
  'science': 82,
  'total': 405},
 {'_id': ObjectId('62fc5b6d0694b90dadceab7b'),
  'name': 'stu_6_5017',
  'sexual': 'male',
  'chinese': 148,
  'math': 150,
  'english': 97,
  'science': 54,
  'total': 449},
 {'_id': ObjectId('62fc5b670694b90dadca88c9'),
  'name': 'stu_34_3991',
  'sexual': 'male',
  'chinese': 143,
  'math': 150,
  'english': 38,
  'science': 186,
  'total': 517},
 {'_id': ObjectId('62fc5b6a0694b90dadcc5890'),
  'name': 'stu_33_2718',
  'sexual': 'female',
  'chinese': 105,
  'math': 150,
  'english': 97,
  'science': 117,
  'total': 469},
 {'_id': ObjectId('62fc5b6e0694b90dadcf8d72'),
  'name': 'stu_12_2864',
  'sexual': 'female',
  'chinese': 148,
  'math': 150,
  'english': 92,
  'science': 39,
  'total': 429},
 {'_id': ObjectId('62fc5b670694b90dadca3967'),
  'name': 'stu_36_3669',
  'sexual': 'male',
  'chinese': 114,
  'math': 150,
  'english': 19,
  'science': 145,
  'total': 428},
 {'_id': ObjectId('62fc5b6a0694b90dadcc866f'),
  'name': 'stu_27_4461',
  'sexual': 'male',
  'chinese': 119,
  'math': 150,
  'english': 47,
  'science': 108,
  'total': 424},
 {'_id': ObjectId('62fc5b690694b90dadcc00a7'),
  'name': 'stu_26_213',
  'sexual': 'female',
  'chinese': 114,
  'math': 150,
  'english': 79,
  'science': 199,
  'total': 542},
 {'_id': ObjectId('62fc5b6b0694b90dadcd5882'),
  'name': 'stu_29_8240',
  'sexual': 'female',
  'chinese': 126,
  'math': 150,
  'english': 19,
  'science': 234,
  'total': 529},
 {'_id': ObjectId('62fc5b6c0694b90dadce9442'),
  'name': 'stu_7_9072',
  'sexual': 'male',
  'chinese': 121,
  'math': 150,
  'english': 49,
  'science': 49,
  'total': 369},
 {'_id': ObjectId('62fc5b650694b90dadc93000'),
  'name': 'stu_47_5726',
  'sexual': 'female',
  'chinese': 138,
  'math': 150,
  'english': 73,
  'science': 119,
  'total': 480},
 {'_id': ObjectId('62fc5b680694b90dadcb9827'),
  'name': 'stu_18_3461',
  'sexual': 'female',
  'chinese': 105,
  'math': 150,
  'english': 80,
  'science': 156,
  'total': 491},
 {'_id': ObjectId('62fc5b6b0694b90dadcddb75'),
  'name': 'stu_14_1763',
  'sexual': 'female',
  'chinese': 143,
  'math': 150,
  'english': 75,
  'science': 240,
  'total': 608},
 {'_id': ObjectId('62fc5b6a0694b90dadcc5496'),
  'name': 'stu_33_1700',
  'sexual': 'female',
  'chinese': 149,
  'math': 150,
  'english': 30,
  'science': 19,
  'total': 348},
 {'_id': ObjectId('62fc5b6a0694b90dadcc89b1'),
  'name': 'stu_27_5295',
  'sexual': 'male',
  'chinese': 147,
  'math': 150,
  'english': 37,
  'science': 152,
  'total': 486},
 {'_id': ObjectId('62fc5b660694b90dadc9ec68'),
  'name': 'stu_8_3958',
  'sexual': 'female',
  'chinese': 113,
  'math': 150,
  'english': 16,
  'science': 186,
  'total': 465},
 {'_id': ObjectId('62fc5b6e0694b90dadcf9dc4'),
  'name': 'stu_12_7042',
  'sexual': 'female',
  'chinese': 122,
  'math': 150,
  'english': 77,
  'science': 189,
  'total': 538},
 {'_id': ObjectId('62fc5b6d0694b90dadcf48a8'),
  'name': 'stu_4_5254',
  'sexual': 'male',
  'chinese': 123,
  'math': 150,
  'english': 88,
  'science': 196,
  'total': 557},
 {'_id': ObjectId('62fc5b6e0694b90dadcff26f'),
  'name': 'stu_48_8717',
  'sexual': 'female',
  'chinese': 122,
  'math': 150,
  'english': 39,
  'science': 228,
  'total': 539},
 {'_id': ObjectId('62fc5b6b0694b90dadcddcee'),
  'name': 'stu_14_2140',
  'sexual': 'male',
  'chinese': 136,
  'math': 150,
  'english': 79,
  'science': 142,
  'total': 507},
 {'_id': ObjectId('62fc5b690694b90dadcc189a'),
  'name': 'stu_26_6344',
  'sexual': 'male',
  'chinese': 140,
  'math': 150,
  'english': 71,
  'science': 111,
  'total': 472},
 {'_id': ObjectId('62fc5b6b0694b90dadcdabad'),
  'name': 'stu_2_9531',
  'sexual': 'female',
  'chinese': 103,
  'math': 150,
  'english': 92,
  'science': 228,
  'total': 573},
 {'_id': ObjectId('62fc5b690694b90dadcc0cf5'),
  'name': 'stu_26_3363',
  'sexual': 'female',
  'chinese': 140,
  'math': 150,
  'english': 95,
  'science': 66,
  'total': 451},
 {'_id': ObjectId('62fc5b6a0694b90dadcc9bff'),
  'name': 'stu_27_9981',
  'sexual': 'male',
  'chinese': 142,
  'math': 150,
  'english': 24,
  'science': 232,
  'total': 548},
 {'_id': ObjectId('62fc5b6a0694b90dadcce66f'),
  'name': 'stu_1_9037',
  'sexual': 'male',
  'chinese': 108,
  'math': 150,
  'english': 98,
  'science': 182,
  'total': 538},
 {'_id': ObjectId('62fc5b6d0694b90dadceaa80'),
  'name': 'stu_6_4766',
  'sexual': 'female',
  'chinese': 126,
  'math': 150,
  'english': 15,
  'science': 17,
  'total': 308},
 {'_id': ObjectId('62fc5b690694b90dadcc1893'),
  'name': 'stu_26_6337',
  'sexual': 'male',
  'chinese': 136,
  'math': 150,
  'english': 53,
  'science': 17,
  'total': 356},
 {'_id': ObjectId('62fc5b6b0694b90dadcdadb1'),
  'name': 'stu_3_47',
  'sexual': 'male',
  'chinese': 134,
  'math': 150,
  'english': 60,
  'science': 14,
  'total': 358},
 {'_id': ObjectId('62fc5b6a0694b90dadcc54b9'),
  'name': 'stu_33_1735',
  'sexual': 'male',
  'chinese': 106,
  'math': 150,
  'english': 62,
  'science': 147,
  'total': 465},
 {'_id': ObjectId('62fc5b6e0694b90dadcf845c'),
  'name': 'stu_12_538',
  'sexual': 'female',
  'chinese': 120,
  'math': 150,
  'english': 46,
  'science': 96,
  'total': 412},
 {'_id': ObjectId('62fc5b640694b90dadc8a06b'),
  'name': 'stu_41_8969',
  'sexual': 'female',
  'chinese': 150,
  'math': 150,
  'english': 1,
  'science': 233,
  'total': 534},
 {'_id': ObjectId('62fc5b6d0694b90dadcf2432'),
  'name': 'stu_13_5920',
  'sexual': 'male',
  'chinese': 149,
  'math': 150,
  'english': 85,
  'science': 115,
  'total': 499},
 {'_id': ObjectId('62fc5b670694b90dadcab35f'),
  'name': 'stu_20_4893',
  'sexual': 'male',
  'chinese': 131,
  'math': 150,
  'english': 38,
  'science': 116,
  'total': 435},
 {'_id': ObjectId('62fc5b6a0694b90dadcc9b38'),
  'name': 'stu_27_9782',
  'sexual': 'female',
  'chinese': 139,
  'math': 150,
  'english': 51,
  'science': 287,
  'total': 627},
 {'_id': ObjectId('62fc5b6a0694b90dadcce43b'),
  'name': 'stu_1_8473',
  'sexual': 'female',
  'chinese': 149,
  'math': 150,
  'english': 84,
  'science': 2,
  'total': 385},
 {'_id': ObjectId('62fc5b6c0694b90dadcdf5a3'),
  'name': 'stu_14_8465',
  'sexual': 'male',
  'chinese': 148,
  'math': 150,
  'english': 84,
  'science': 7,
  'total': 389},
 {'_id': ObjectId('62fc5b680694b90dadcb6de2'),
  'name': 'stu_19_2640',
  'sexual': 'male',
  'chinese': 121,
  'math': 150,
  'english': 90,
  'science': 232,
  'total': 593},
 {'_id': ObjectId('62fc5b660694b90dadc96b83'),
  'name': 'stu_44_961',
  'sexual': 'female',
  'chinese': 133,
  'math': 150,
  'english': 29,
  'science': 70,
  'total': 382},
 {'_id': ObjectId('62fc5b6c0694b90dadce52eb'),
  'name': 'stu_38_2345',
  'sexual': 'female',
  'chinese': 109,
  'math': 150,
  'english': 19,
  'science': 169,
  'total': 447},
 {'_id': ObjectId('62fc5b680694b90dadcb723a'),
  'name': 'stu_19_3752',
  'sexual': 'female',
  'chinese': 146,
  'math': 150,
  'english': 1,
  'science': 281,
  'total': 578},
 {'_id': ObjectId('62fc5b640694b90dadc8754a'),
  'name': 'stu_40_7928',
  'sexual': 'female',
  'chinese': 106,
  'math': 150,
  'english': 10,
  'science': 154,
  'total': 420},
 {'_id': ObjectId('62fc5b6d0694b90dadceb845'),
  'name': 'stu_6_8291',
  'sexual': 'male',
  'chinese': 141,
  'math': 150,
  'english': 73,
  'science': 163,
  'total': 527},
 {'_id': ObjectId('62fc5b670694b90dadca823d'),
  'name': 'stu_34_2315',
  'sexual': 'male',
  'chinese': 126,
  'math': 150,
  'english': 100,
  'science': 174,
  'total': 550},
 {'_id': ObjectId('62fc5b660694b90dadc9d788'),
  'name': 'stu_37_8614',
  'sexual': 'female',
  'chinese': 138,
  'math': 150,
  'english': 7,
  'science': 26,
  'total': 321},
 {'_id': ObjectId('62fc5b670694b90dadca9fc8'),
  'name': 'stu_34_9878',
  'sexual': 'male',
  'chinese': 125,
  'math': 150,
  'english': 29,
  'science': 58,
  'total': 362},
 {'_id': ObjectId('62fc5b660694b90dadca0947'),
  'name': 'stu_9_1349',
  'sexual': 'male',
  'chinese': 141,
  'math': 150,
  'english': 51,
  'science': 31,
  'total': 373},
 {'_id': ObjectId('62fc5b6d0694b90dadcf06b7'),
  'name': 'stu_11_8373',
  'sexual': 'male',
  'chinese': 140,
  'math': 150,
  'english': 57,
  'science': 279,
  'total': 626},
 {'_id': ObjectId('62fc5b6d0694b90dadcf1258'),
  'name': 'stu_13_1350',
  'sexual': 'male',
  'chinese': 133,
  'math': 150,
  'english': 20,
  'science': 164,
  'total': 467},
 {'_id': ObjectId('62fc5b6e0694b90dadcf94cc'),
  'name': 'stu_12_4746',
  'sexual': 'female',
  'chinese': 133,
  'math': 150,
  'english': 58,
  'science': 91,
  'total': 432},
 {'_id': ObjectId('62fc5b6a0694b90dadcc9d07'),
  'name': 'stu_16_245',
  'sexual': 'male',
  'chinese': 112,
  'math': 150,
  'english': 86,
  'science': 252,
  'total': 600},
 {'_id': ObjectId('62fc5b690694b90dadcbc574'),
  'name': 'stu_24_5058',
  'sexual': 'male',
  'chinese': 150,
  'math': 150,
  'english': 14,
  'science': 131,
  'total': 445},
 {'_id': ObjectId('62fc5b680694b90dadcb0c9a'),
  'name': 'stu_35_7736',
  'sexual': 'female',
  'chinese': 133,
  'math': 150,
  'english': 97,
  'science': 143,
  'total': 523},
 {'_id': ObjectId('62fc5b6e0694b90dadcff1b3'),
  'name': 'stu_48_8529',
  'sexual': 'female',
  'chinese': 132,
  'math': 150,
  'english': 16,
  'science': 262,
  'total': 560},
 {'_id': ObjectId('62fc5b650694b90dadc8fd8e'),
  'name': 'stu_46_2812',
  'sexual': 'female',
  'chinese': 102,
  'math': 150,
  'english': 8,
  'science': 69,
  'total': 329},
 {'_id': ObjectId('62fc5b6c0694b90dadce12ac'),
  'name': 'stu_28_5898',
  'sexual': 'male',
  'chinese': 124,
  'math': 150,
  'english': 33,
  'science': 41,
  'total': 348},
 {'_id': ObjectId('62fc5b6d0694b90dadcf28eb'),
  'name': 'stu_13_7129',
  'sexual': 'female',
  'chinese': 101,
  'math': 150,
  'english': 70,
  'science': 175,
  'total': 496},
 {'_id': ObjectId('62fc5b6e0694b90dadcfde9b'),
  'name': 'stu_48_3641',
  'sexual': 'female',
  'chinese': 117,
  'math': 150,
  'english': 41,
  'science': 76,
  'total': 384},
 {'_id': ObjectId('62fc5b650694b90dadc8f370'),
  'name': 'stu_46_222',
  'sexual': 'male',
  'chinese': 139,
  'math': 150,
  'english': 33,
  'science': 158,
  'total': 480},
 {'_id': ObjectId('62fc5b6e0694b90dadcfad62'),
  'name': 'stu_49_1040',
  'sexual': 'female',
  'chinese': 127,
  'math': 150,
  'english': 67,
  'science': 30,
  'total': 374},
 {'_id': ObjectId('62fc5b660694b90dadc9d44a'),
  'name': 'stu_37_7784',
  'sexual': 'male',
  'chinese': 146,
  'math': 150,
  'english': 12,
  'science': 294,
  'total': 602},
 {'_id': ObjectId('62fc5b6e0694b90dadcf949b'),
  'name': 'stu_12_4697',
  'sexual': 'female',
  'chinese': 139,
  'math': 150,
  'english': 47,
  'science': 81,
  'total': 417},
 {'_id': ObjectId('62fc5b660694b90dadc9cb5e'),
  'name': 'stu_37_5500',
  'sexual': 'female',
  'chinese': 148,
  'math': 150,
  'english': 18,
  'science': 241,
  'total': 557},
 {'_id': ObjectId('62fc5b6c0694b90dadce361a'),
  'name': 'stu_10_4968',
  'sexual': 'female',
  'chinese': 107,
  'math': 150,
  'english': 80,
  'science': 278,
  'total': 615},
 {'_id': ObjectId('62fc5b670694b90dadca7baf'),
  'name': 'stu_34_637',
  'sexual': 'female',
  'chinese': 101,
  'math': 150,
  'english': 35,
  'science': 194,
  'total': 480},
 {'_id': ObjectId('62fc5b660694b90dadca1980'),
  'name': 'stu_9_5502',
  'sexual': 'male',
  'chinese': 106,
  'math': 150,
  'english': 24,
  'science': 3,
  'total': 283},
 {'_id': ObjectId('62fc5b680694b90dadcb28df'),
  'name': 'stu_31_4973',
  'sexual': 'female',
  'chinese': 119,
  'math': 150,
  'english': 36,
  'science': 130,
  'total': 435},
 {'_id': ObjectId('62fc5b680694b90dadcaf69a'),
  'name': 'stu_35_2104',
  'sexual': 'female',
  'chinese': 148,
  'math': 150,
  'english': 26,
  'science': 91,
  'total': 415},
 {'_id': ObjectId('62fc5b650694b90dadc94ae6'),
  'name': 'stu_45_2612',
  'sexual': 'male',
  'chinese': 114,
  'math': 150,
  'english': 40,
  'science': 56,
  'total': 360},
 {'_id': ObjectId('62fc5b650694b90dadc94af5'),
  'name': 'stu_45_2627',
  'sexual': 'male',
  'chinese': 108,
  'math': 150,
  'english': 19,
  'science': 173,
  'total': 450},
 {'_id': ObjectId('62fc5b650694b90dadc900c0'),
  'name': 'stu_46_3630',
  'sexual': 'male',
  'chinese': 124,
  'math': 150,
  'english': 21,
  'science': 133,
  'total': 428},
 {'_id': ObjectId('62fc5b640694b90dadc898b1'),
  'name': 'stu_41_6991',
  'sexual': 'male',
  'chinese': 102,
  'math': 150,
  'english': 86,
  'science': 159,
  'total': 497},
 {'_id': ObjectId('62fc5b6a0694b90dadcca395'),
  'name': 'stu_16_1923',
  'sexual': 'female',
  'chinese': 133,
  'math': 150,
  'english': 85,
  'science': 30,
  'total': 398},
 {'_id': ObjectId('62fc5b660694b90dadca1991'),
  'name': 'stu_9_5519',
  'sexual': 'female',
  'chinese': 148,
  'math': 150,
  'english': 89,
  'science': 62,
  'total': 449},
 {'_id': ObjectId('62fc5b640694b90dadc863ac'),
  'name': 'stu_40_3418',
  'sexual': 'male',
  'chinese': 123,
  'math': 150,
  'english': 7,
  'science': 87,
  'total': 367},
 {'_id': ObjectId('62fc5b670694b90dadca8a94'),
  'name': 'stu_34_4450',
  'sexual': 'male',
  'chinese': 121,
  'math': 150,
  'english': 85,
  'science': 276,
  'total': 632},
 {'_id': ObjectId('62fc5b6b0694b90dadcd53c6'),
  'name': 'stu_29_7028',
  'sexual': 'male',
  'chinese': 102,
  'math': 150,
  'english': 68,
  'science': 236,
  'total': 556},
 {'_id': ObjectId('62fc5b690694b90dadcbfb6b'),
  'name': 'stu_30_8873',
  'sexual': 'male',
  'chinese': 104,
  'math': 150,
  'english': 25,
  'science': 43,
  'total': 322},
 {'_id': ObjectId('62fc5b6a0694b90dadcca801'),
  'name': 'stu_16_3055',
  'sexual': 'female',
  'chinese': 131,
  'math': 150,
  'english': 57,
  'science': 209,
  'total': 547},
 {'_id': ObjectId('62fc5b650694b90dadc8b47a'),
  'name': 'stu_43_4104',
  'sexual': 'female',
  'chinese': 123,
  'math': 150,
  'english': 55,
  'science': 176,
  'total': 504},
 {'_id': ObjectId('62fc5b6c0694b90dadce528e'),
  'name': 'stu_38_2252',
  'sexual': 'male',
  'chinese': 111,
  'math': 150,
  'english': 95,
  'science': 135,
  'total': 491},
 {'_id': ObjectId('62fc5b6d0694b90dadcf420a'),
  'name': 'stu_4_3560',
  'sexual': 'female',
  'chinese': 106,
  'math': 150,
  'english': 100,
  'science': 239,
  'total': 595},
 {'_id': ObjectId('62fc5b670694b90dadcaad50'),
  'name': 'stu_20_3342',
  'sexual': 'male',
  'chinese': 149,
  'math': 150,
  'english': 48,

In [169]:
#1.链接本地数据库服务
name = MongoClient('localhost')
#2.链接本地数据库
db = name.python_test

In [170]:
insert_rank = db.rank
insert_rank.insert_many(data_rank_df)

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 4, 'code': 11000, 'errmsg': "E11000 duplicate key error collection: python_test.rank index: _id_ dup key: { _id: ObjectId('62fc5b650694b90dadc8f427') }", 'keyPattern': {'_id': 1}, 'keyValue': {'_id': ObjectId('62fc5b650694b90dadc8f427')}, 'op': {'_id': ObjectId('62fc5b650694b90dadc8f427'), 'name': 'stu_46_405', 'sexual': 'male', 'chinese': 121, 'math': 150, 'english': 96, 'science': 110, 'total': 477}}], 'writeConcernErrors': [], 'nInserted': 4, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

# 第四题

In [ ]:
# import numpy as np 
# # cube = ["(500,550]","(550,60]"]

# # np.argwhere(data.sexual=="female")
# data_female = data.loc[data.sexual=="female"]
# data_female

In [ ]:
# data_female.to_csv("全女成绩.csv")